* {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
}



form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
    padding: .5em;
    margin: .5em 0em;
    width: 100%;
    border-style: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px;
}

input[type="file"] {
    margin: 1em 0em;
}

body {
    display: flex;
}

a {
    text-decoration: none;
    color: #000;
}

button {
    border: none;
}


/**********************************************
******************* classes *******************
**********************************************/

.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;

}

.hidden,
a.hidden,
button.hidden {
    display: none;
}


body.login,
body.createAccount {
    height: 100vh;
    width: 100vw;
    overflow: auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

body.calenderEvents,
body.myAccount {
    background-color: #EBF3FF;
}

.verticalFormFields,
.verticalFormFieldsThree {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;

}


.verticalFormFields input[type="text"]:first-child,
.verticalFormFields input[type="submit"]:first-child {
    margin: 0.5em .5em .5em 0em;
}

.verticalFormFields input[type="text"]:last-child,
.verticalFormFields button {
    margin: 0.5em 0em .5em .5em;
}

input[type="text"].middlefield {
    margin: .5em 1em;
}

/*********************************
************ sidenav *************
*********************************/


.sidenav {
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    background-color: #327AF9;
    height: 100vh;
    align-items: center;
    padding: 0%;

    border-radius: 0em 5em 5em 0em;

}

.sidenavOpen {
    width: 15vw;

}

.menu-collapse {
    align-self: flex-start;
    margin: 1em;
}

.sidenavLogo {
    width: 10em;
    height: 10em;
    background-color: white;
    border-radius: 25%;
    border-color: white;
    border-style: solid;
    border-width: .5em;
    margin: 3em;
}

.sidenavLinks {
    display: flex;
    align-items: center;
    background-color: white;
    width: 80%;
    border-radius: 3em;
    margin: .5em 0em;
}

.sidenavLinks img {
    margin: .5em 1em .5em .5em;
}

.sidenavLinks {
    text-decoration: none;
}

.log-out {
    margin-top: 80%;
}




/**********************************************
************ login/create account *************
**********************************************/



.login,
.createAccount {
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 100vh;
    background-color: #EBF3FF;
}


.loginForm *,
.createAccountForm * {
    width: 100%;
}

.loginForm p a,
.createAccountForm p a {
    text-decoration: none;
    color: #587FFF;
}

.loginForm h1,
.createAccountForm h1 {
    align-self: flex-start;
    margin-bottom: .3em;
    font-size: 40pt;
}

.loginForm label {
    display: flex;
    align-items: center;
    height: 60px;

}

input[type='checkbox'] {
    width: 20px;
    height: 20px;
    background: #EBF3FF;
    border-radius: 30px;
    margin-right: 1em;
}




input[type='submit'],
button.cancel {
    background-color: #327AF9;
    color: white;
    border: none;
    border-radius: 20px;
    height: 2em;
    width: 80%;
    margin: 0.5em 0em;
}

.login p {
    align-self: flex-start;
}



.sideImage {
    box-sizing: content-box;
    width: 50vw;
    padding-left: 15vw;
}

/*********************************************
************ Calender Event list *************
*********************************************/

.CalenderEventContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;

}

.eventList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 88em;
    margin-left: 5vw;

}

.eventPages {
    display: flex;
    margin: 2em;

}

.eventPages a {
    display: flex;
    align-items: center;
    padding: 0em;
}

.eventPages * {
    margin: 0em .15em;
    border-radius: 50%;
}

.unselectedPage {
    width: 20px;
    height: 20px;
    border: black 1px solid;
}

.selectedPage {
    width: 20px;
    height: 20px;
    border: none;
    background-color: #2D2DE8;
}

.arrow {
    width: 50px;
    height: 50px;
}

.EventContainer {
    display: flex;
    height: 12em;
    width: 20em;
    margin: 1em;
    padding: 0em;
    background-color: white;
    border-radius: 1em;
}


.eventImage {
    width: 10em;
    height: 12em;
    border-radius: 1em 0em 0em 1em;
    background-color: gray;
}

.EventContainer div {
    display: flex;
    flex-direction: column;

}

.eventcategorieDiv {
    margin: 0em;
    padding: 0em;
    display: flex;
}

.EventContainer div * {
    margin: .5em 0em 0em 1em;
}

.EventContainer div h2 {
    margin: 1em 0em 2em 1em;
}

.categorieSelection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.categorieSelection a {
    margin: 1em 0em;
    padding: .5em 0em;
    border-radius: .5em;
    width: 1.5em;
    height: 1.5em;
    display: flex;
    flex-direction: row;
}

.categorieSelection a * {
    margin: 0em .5em;
    width: 1em;
    height: 1em;
    text-align: center;
}

a.airsoft {
    background-color: #ECCF00;
}

a.airsoft {
    background-color: #ECCF00;
}

a.party {
    background-color: #F792D9;
}

a.art {
    background-color: #80FF57;
}

a.music {
    background-color: #FF7915;
}

a.gaming {
    background-color: #B96BDD;
}


/*
    source dot before element: http: //jsfiddle.net/JoshC/T652B/1/
*/


p.airsoft:before {
    content: "";
    display: inline-block;
    margin: 0 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ECCF00;
}

p.party:before {
    content: "";
    display: inline-block;
    margin: 0 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #F792D9;
}

p.art:before {
    content: "";
    display: inline-block;
    margin: 0 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #80FF57;
}

p.music:before {
    content: "";
    display: inline-block;
    margin: 0 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #FF7915;
}

p.gaming:before {
    content: "";
    display: inline-block;
    margin: 0 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #B96BDD;
}

/*********************************************
************ create/update event *************
*********************************************/

.createEvent {
    margin-top: 6%;
    margin-left: 35%;
    display: flex;
    background-color: white;
    width: 40em;
    flex-direction: column;
    align-items: center;
    border-radius: 1em;
}

.createEventForm {
    background-color: white;
    width: 30em;
}

.createEvent h1,
.createEvent p {
    align-self: flex-start;
}

.createEvent h1 {
    font-size: 30pt;
    margin: 1em 0em 0em 2em;
}

.createEvent p {
    margin: 1em 0em 3em 5em;
    width: 20em;
}

.createEventForm .verticalFormFields {
    margin: 2em 0em 1em;
}

.cancel {
    background: white;
    border-style: solid;
    border-color: #327AF9;
    color: #000;
}

/*********************************************
************ view event details **************
*********************************************/

.eventView {
    margin-top: 10vh;
    margin-left: 40vw;
    display: flex;
    background-color: white;
    display: flex;
    width: 30vw;
    height: 70vh;
    background-color: white;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 2em;
}

.eventImageDetail {
    width: 100%;
    height: 30vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2em 2em 0em 0em;

}

.eventImageDetail img {
    width: 100%;
    height: 150%;
    background-color: #000;
}

.eventDetails h1 {
    font-size: 25pt;
    margin: 1em 1em 1em;
}

.eventDetails p,
.eventDetails a {
    margin: 0em 2em 2em;
    width: 30em;
    font-weight: bold;
}

.eventDetails div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#map {
    height: 100%;
    width: 10em;
}

p.eventDescription {
    font-weight: normal;
}

button.close {
    margin: 0em 2em 2em;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    border: none;
    background-color: #2D2DE8;
    color: white;
    font-weight: bold;
    align-self: end;
}

/*********************************************
************** my calender page **************
*********************************************/

.buttonContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: #2D2DE8 4px solid;
    width: 16em;
    border-radius: 4em;
}

.buttonContainer * {
    background-color: white;
    font-weight: bold;
}

.buttonContainer button:first-child {
    height: 3em;
    width: 8em;
    border-radius: 2em 0em 0em 2em;
    border: none;
}

.buttonContainer button:last-child {
    height: 3em;
    width: 8em;
    border-radius: 0em 2em 2em 0em;
    border: none;
}

.buttonContainer button:hover {
    background-color: #327AF9;
}

button.active {
    background-color: #2D2DE8;
    color: white;
}

button.active:hover {
    background-color: #2D2DE8;

}

/*********************************************
************** my calender page **************
*********************************************/

.profileTitle {
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: -1;
    width: 100vw;
    height: 10em;
    background-color: white;
}

.profileTitle div {
    display: flex;
    flex-direction: row;
    margin: 6em 0em 0em 33em;
}

.profileTitle div h1 {
    font-size: 30pt;
    margin-right: .5em;
}

.profileTitle div h1:last-child {
    color: #327AF9;
}

.personalDetails {
    margin: 15em;
}

.personalDetails h2 {
    font-size: 20pt;
    margin-bottom: 2em;
}

.personalDetailsField {
    margin: 1em 0em;
    display: flex;
    align-items: center;
}

.personalDetailsField p {
    width: 8em;
    padding: .5em;
    background-color: #F5F1F1;
    text-align: center;
    border-radius: 1em 0em 0em 1em;
    box-shadow: 1px 1px 3px;

}

.personalDetailsField input[type='text'] {
    border-radius: 0em 1em 1em 0em;
}

.personalDetailsField button {
    width: 5em;
    height: 2em;
    border-radius: .5em;
    border: none;
    margin: 0em 0em 0em 1em;
    background-color: #FDCEE9;
}