* {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
}



form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    padding: .5em;
    margin: .5em 0em;
    width: 100%;
    border-style: none;
    border-radius: 5px;
}

body {
    display: flex;
}


/**********************************************
******************* classes *******************
**********************************************/

body.login,
body.createAccount {
    height: 100vh;
    width: 100vw;
    overflow: auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

body.calenderEvents,
body.myAccount {
    background-color: #EBF3FF;
}

.verticalFormFields {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;

}


.verticalFormFields input[type="text"]:first-child {
    margin: 0.5em .5em .5em 0em;
}

.verticalFormFields input[type="text"]:last-child {
    margin: 0.5em 0em .5em .5em;
}

/*********************************
************ sidenav *************
*********************************/


.sidenav {
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    background-color: #327AF9;
    height: 100vh;
    align-items: center;
    padding: 0%;

    border-radius: 0em 5em 5em 0em;

}

.sidenavOpen {
    width: 15vw;

}

.menu-collapse {
    align-self: flex-start;
    margin: 1em;
}

.sidenavLogo {
    width: 10em;
    height: 10em;
    background-color: gray;
    border-radius: 100em;
    border-color: white;
    border-style: solid;
    border-width: .5em;
    margin-bottom: 2em;
}

.sidenavLinks {
    display: flex;
    align-items: center;
    background-color: white;
    width: 80%;
    border-radius: 3em;
    margin: .5em 0em;
}

.sidenavLinks img {
    margin: .5em 1em .5em .5em;
}

.sidenavLinks {
    text-decoration: none;
}

.log-out {
    margin-top: 110%;
}




/**********************************************
************ login/create account *************
**********************************************/



.login,
.createAccount {
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 100vh;
    background-color: #EBF3FF;
}


.loginForm *,
.createAccountForm * {
    width: 100%;
}

.loginForm p a,
.createAccountForm p a {
    text-decoration: none;
    color: #587FFF;
}

.loginForm h1,
.createAccountForm h1 {
    align-self: flex-start;
    margin-bottom: .3em;
    font-size: 40pt;
}

.loginForm label {
    display: flex;
    align-items: center;
    height: 60px;

}

input[type='checkbox'] {
    width: 20px;
    height: 20px;
    background: #EBF3FF;
    border-radius: 30px;
    margin-right: 1em;
}




input[type='submit'] {
    background-color: #327AF9;
    color: white;
    border: none;
    border-radius: 20px;
    height: 2em;
    width: 80%;
    margin: 1.5em 0em;
}

.login p {
    align-self: flex-start;
}



.sideImage {
    box-sizing: content-box;
    width: 50vw;
    padding-left: 15vw;
}

/*********************************************
************ Calender Event list *************
*********************************************/

.CalenderEventContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 5em;
    width: 75vw;
}

.EventContainer {
    display: flex;
    height: 10em;
    width: 20em;
    margin: 3em;
    padding: 0em;
    background-color: white;
    border-radius: 1em;
}

.EventContainer * {
    text-decoration: none;
}

.eventImage {
    width: 10em;
    height: 10em;
    border-radius: 1em 0em 0em 1em;
    background-color: gray;
}

.EventContainer div {
    display: flex;
    flex-direction: column;

}

.eventcategorieDiv {
    margin: 0em;
    padding: 0em;
    display: flex;
}

.EventContainer div *{
    margin: 1em 0em 0em 1em;
}

.EventContainer div h2{
    margin: 1em 0em 2em 1em;
}


.eventCategorieColor {
    width: 1em;
    background-color: #327AF9;
}

.airsoft {
    background-color: #ECCF00;
}

.party {
    background-color: #F792D9;
}

.art {
    background-color: #80FF57;
}

.music {
    background-color: #FF7915;
}

.gaming {
    background-color: #B96BDD;
}